body {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;
}
.header {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    margin: 40px 0;

    .left-buttons {
    display: flex;
    margin-left: 93px;
    }

    .button {
    width: 44px;
    height: 44px;
    border-radius: 5px;
    background: rgba(180,184,187, 1);
    font-size: 14px;
    color: #fff;
    transition: all .2s;
    margin-right: 10px;
    cursor: pointer;
    border: none ;
    &:hover {
    opacity: .7;
    }
    }
    .geocoder {
        z-index: 1;
        width: 95%;
        left: 50%;
        top: 10px;
        .mapboxgl-ctrl-geocoder--input {
            height: 44px;
        }
        }
        .mapboxgl-ctrl-geocoder {
        min-width: 100%;
        }
}

.select {
    .last-item {
        border-radius: 0 0 5px 5px;
    }
        .select-current{
            position: relative;
            background: rgba(180,184,187, 1);
            cursor: pointer;
            width: 71px;
            height: 44px;
            font-size: 14px;
            color: #fff;
            margin-right: 10px;
            border-radius: 5px;
            align-items: center;
            display: flex;
            justify-content: center;
            &::after {
                position: absolute;
                height: 20px;
                width: 20px;
                content: "\f078";
                color: #fff;
                font-family: FontAwesome;
                left: 50px;
                top: 15px;
            }
        }

        .select-item {
            background: rgba(180,184,187,.85);
            cursor: pointer;
            width: 71px;
            height: 44px;
            font-size: 14px;
            color: #fff;
            margin-right: 10px;
            align-items: center;
            display: flex;
            justify-content: center;
            &:hover {
                opacity: .7; 
                border: none;
            }
        }
        .select-body {
            display: none;
        }
        .active-list {
            display: block;
            position: absolute;
        }

        .active-current {
            border-radius: 5px 5px 0 0;
        }

}

.main-container {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 100px 0 0;

    .forecast {
        display: flex;
        width: 44%;
        justify-content: space-between;
        .temp-and-icon {
            width: 60%;
            margin-right: 50px;
            .temp {
                font-size: 235px;
                font-weight: 700;
                color: white;
                text-transform: uppercase;
                margin-top: 88px;
            }
    
            .city {
                color: white;
                font-size: 44px;
                text-transform: uppercase;
            }
        }

        .desc, .feels-like, .wind, .humidity, .dates {
            color: white;
            font-size: 24px;
            padding: 6px;
            text-transform: uppercase;
        }

        .clock {
            color: white;
            font-size: 18px;
            padding: 6px;
        }

        .weather-icon {
            width: 100%;
            margin-top: -54px;
        }
    }

    .map-container {
        #map {
            position: absolute;
            width: 32%;
            height: 50%;
            border-radius: 5px;
        }
    
        .longitude, .latitude {
            color: white;
            font-size: 24px;
            margin-bottom: 10px;
        }

        .mapboxgl-canvas {
            -webkit-mask-image: url(http://cdn.onlinewebfonts.com/svg/img_5872.png);
            background-position: center;
            background-repeat: no-repeat;
            -webkit-mask-size: contain;
            -webkit-mask-repeat: no-repeat;
            -webkit-mask-position: center right;
            -webkit-mask-clip: padding-box;  
        }
    }
}

@media screen and (max-width: 920px) {

    .main-container .forecast {
        display: grid;
        justify-items: center;
    }
    .main-container {
        display: grid;
        justify-items: center;
    }
    
    .header .geocoder {
        width: 73%;
        margin-top: 10px;
        margin-left: 92px;
    }

    .coordinates {
        display: none;
    }

    .main-container .map-container #map {
        width: 55%;
    }
    
    .mapboxgl-canvas {
        width: 177px;
        //height: 329px;
    }

    main .forecast-for-3-days {
        display: block;
        margin-top: 362px;
        margin-left: 125px;
    }
  }

.forecast-for-3-days {
    display: flex;
    margin: 10px 30px 30px 175px;

    .day {
        margin-right: 50px;

        .dates {
            color: white;
            font-size: 24px;
            padding: 10px;
        }

        .day-of-the-week {
            color: white;
            font-size: 24px;
            padding: 6px;
            text-transform: uppercase;
        }

        .temperature {
            color: white;
            font-size: 60px;
            padding: 6px;
        }

        .weather-icon {
            width: 130%;
        }

        .icon-and-temp {
            display: flex;
        }
    }
}